@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  height: 100%;
}

@layer base {
  body {
    font-family: 'Source Serif 4';
    font-weight: 400;
    font-display: swap;
  }

  .adaptive-pt {
    padding-top: clamp(3rem, 2.143rem + 4.286vw, 6rem);
  }

  .logo {
    font-family: 'Oswald', sans-serif;
  }
.hover-header{
  @apply hover:text-purple  duration-300 transition-colors ease-in-out;
}
  .menuSelect {
    @apply text-sm font-semibold;
  }

  .heading1 {
    @apply text-[26px] font-semibold leading-8;
  }

  .heading2 {
    @apply text-[21px] font-semibold leading-[25px];
  }

  .heading3 {
    @apply text-lg font-normal leading-[25px];
  }

  .heading4 {
    @apply text-base font-normal leading-[25px];
  }

  .heading5-semibold {
    @apply text-sm font-semibold leading-[25px];
  }

  .heading5-regular {
    @apply text-sm font-normal leading-[25px];
  }

  .heading6-semibold {
    @apply text-xs font-semibold tracking-[0.16em];
  }

  .heading6-regular {
    @apply text-xs font-normal tracking-[0.16em];
  }

  .pagination-courses {
    @apply flex justify-center w-[30px] h-[30px] items-center text-icon-gray bg-gray rounded hover:bg-br-gray transition-all duration-300;
  }

  .footer-hover {
    @apply hover:text-purple transition-colors duration-300 ease-in-out cursor-pointer max-w-max;
  }

  .inputs:focus {
    @apply border-purple;
  }

  .input-shadow {
    box-shadow: inset 0px 0px 0px 50px #F5F5F7;
  }

  .inputs:valid:not(:placeholder-shown) {
    @apply border-green;
  }


  .inputs:invalid:not(:placeholder-shown):not(:focus) {
    @apply border-red;
  }

  .inputs-checkout:placeholder-shown {
    @apply border-gray ;
  }

  .inputs-checkout:focus {
    @apply border-purple ;
  }

  .inputs-checkout:valid:not(:placeholder-shown) {
    @apply border-green;
  }

  .inputs-checkout:invalid:not(:placeholder-shown):not(:focus) {
    @apply border-red;
  }
.input-style{
@apply  w-full h-[42px] px-[14px]  rounded  bg-gray border border-gray focus:outline-none text-sm font-normal  text-icon-gray  ;
}
.input-style:focus {
  @apply border-purple;
}
.mob-nav{
  @apply uppercase text-sm font-semibold tracking-[2.24px] text-light-col;
}
.episodes-link{
  @apply font-semibold text-sm tracking-[1.4px] uppercase text-gray-light;
}




}

@layer utilities {


:root {
  --bar-bg: #212529;
}

.menu-icon {
  @apply relative w-9 h-8 cursor-pointer ;
}

.menu-icon-checkbox {
  @apply absolute w-full right-0 h-full opacity-0 cursor-pointer z-10;
}

.menu-icon div {
  @apply absolute inset-0 w-[22px] h-[12px] m-auto flex flex-col justify-between;
}

.bar {
  @apply block w-full h-[2px] bg-[var(--bar-bg)] rounded transition-all duration-300;
}

/* Анімація для перетворення на хрестик при відкритому меню */
.menu-icon-checkbox:checked + div .bar:first-of-type {
  @apply transform rotate-45 translate-y-[5px];
}

.menu-icon-checkbox:checked + div .bar:last-of-type {
  @apply transform -rotate-45 -translate-y-[5px];
}

/* Ефект ховера тільки для закритого меню */
.menu-icon:not(:has(input:checked)):hover .bar:first-of-type {
  @apply w-[26px];
}

.menu-icon:not(:has(input:checked)):hover .bar:last-of-type {
  @apply w-[12px];
}

}